<!--Catalog Grid-->
<section class="catalog-grid" ng-controller="CatalogosController">
    <div class="container">
        <h2 class="dark-color">Catalog picks</h2>
        <div class="row">
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="badges">
                        <span class="sale">Sale</span>
                    </div>
                    <div class="price-label">715,00 $</div>
                    <a href="#">
                      <img src="img/catalog/1.png" alt="1"/>
                      <span class="tile-overlay"></span>
                    </a>
                    <div class="footer">
                        <a href="#">Smart Backpack</a>
                      <span>by David Banks</span>
                      <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="badges">
                        <span class="out">Out</span>
                    </div>
                    <div class="price-label">715,00 $</div>
                    <div class="price-label old-price">920,00 $</div>
                    <a href="#">
                      <img src="img/catalog/1.png" alt="1"/>
                      <span class="tile-overlay"></span>
                    </a>
                    <div class="footer">
                        <a href="#">Two-tone leather shopper</a>
                      <span>by Andy Shooter</span>
                      <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="badges">
                      <span class="best-seller">Best Seller</span>
                    </div>
                    <div class="price-label">715,00 $</div>
                    <a href="#">
                      <img src="img/catalog/1.png" alt="1"/>
                      <span class="tile-overlay"></span>
                    </a>
                    <div class="footer">
                        <a href="#">Gussetted shopper bag</a>
                      <span>by Choper Bar</span>
                      <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#">
                      <img src="img/catalog/1.png" alt="1"/>
                      <span class="tile-overlay"></span>
                    </a>
                    <div class="footer">
                        <a href="#">Mini shopper</a>
                      <span>by David Choper</span>
                      <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#">
                      <img src="img/catalog/1.png" alt="1"/>
                      <span class="tile-overlay"></span>
                    </a>
                    <div class="footer">
                        <a href="#">Shopper with buckle</a>
                      <span>by Ivan Tookle</span>
                      <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <div class="price-label old-price">920,00 $</div>
                    <a href="#">
                      <img src="img/catalog/1.png" alt="1"/>
                      <span class="tile-overlay"></span>
                    </a>
                    <div class="footer">
                        <a href="#">City bag</a>
                      <span>by Carol Flag</span>
                      <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#">
                      <img src="img/catalog/1.png" alt="1"/>
                      <span class="tile-overlay"></span>
                    </a>
                    <div class="footer">
                        <a href="#">Cheap Zip Bag</a>
                      <span>by Aron Tag</span>
                      <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#">
                      <img src="img/catalog/1.png" alt="1"/>
                      <span class="tile-overlay"></span>
                    </a>
                    <div class="footer">
                        <a href="#">Leather bag with side pocket</a>
                      <span>by Anna Canara</span>
                      <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Catalog Grid Close-->