<!--Categories-->
<section class="cat-tiles" ng-controller="CategoriasController">
    <div class="container">
        <h2>Browse categories</h2>
        <div class="row">
        <!--Category-->
        <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <a href="#">
            <img src="img/categories/1.png" alt="1"/>
            <p>Leather belt</p>
          </a>
        </div>
        <!--Category-->
        <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <a href="#">
            <img src="img/categories/1.png" alt="1"/>
            <p>Wallet</p>
          </a>
        </div>
        <!--Category-->
        <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <a href="#">
            <img src="img/categories/1.png" alt="1"/>
            <p>Gloves</p>
          </a>
        </div>
        <!--Category-->
        <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <a href="#">
            <img src="img/categories/1.png" alt="1"/>
            <p>City bag</p>
          </a>
        </div>
        <!--Category-->
        <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <a href="#">
            <img src="img/categories/1.png" alt="1"/>
            <p>Backpack</p>
          </a>
        </div>
        <!--Category-->
        <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <a href="#">
            <img src="img/categories/1.png" alt="1"/>
            <p>Belts</p>
          </a>
        </div>
      </div>
    </div>
</section><!--Categories Close-->