<!--Gallery Widget-->

      <section class="white-bg gallery-widget" ng-controller="GaleriaController">
        <div class="container">
          <h2>Product gallery</h2>
          <div class="filters">
            <a class="active" href="#" data-group="all">All</a>
            <a href="#" data-group="City bags">City bags</a>
            <a href="#" data-group="Gloves">Gloves</a>
            <a href="#" data-group="Belts">Belts</a>
            <a href="#" data-group="video">Clutch</a>
          </div>
          <div class="gallery-grid">
            <!--Item-->
            <div class="gallery-item" data-groups='["City bags"]' data-src="img/gallery-widget/1.jpg">
              <a href="img/gallery-widget/1.jpg">
                <div class="overlay"><span><i class="icon-expand"></i></span></div>
                <img src="img/gallery-widget/1.jpg" alt="1"/>
              </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["City bags"]' data-src="img/gallery-widget/2.jpg">
              <a href="img/gallery-widget/2.jpg">
                <div class="overlay"><span><i class="icon-expand"></i></span></div>
                <img src="img/gallery-widget/2.jpg" alt="2"/>
              </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["video"]' data-src="https://www.youtube.com/watch?v=AZ3AVR7VnqA">
              <a href="https://www.youtube.com/watch?v=hdEAWW7tZSA">
                <div class="overlay"><span><i class="icon-music-play"></i></span></div>
                <img src="img/gallery-widget/5.jpg" alt="3"/>
              </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["Belts"]' data-src="img/gallery-widget/4.jpg">
              <a href="img/gallery-widget/4.jpg">
                <div class="overlay"><span><i class="icon-expand"></i></span></div>
                <img src="img/gallery-widget/4.jpg" alt="4"/>
              </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["Gloves"]' data-src="img/gallery-widget/5.jpg">
              <a href="img/gallery-widget/5.jpg">
                <div class="overlay"><span><i class="icon-expand"></i></span></div>
                <img src="img/gallery-widget/5.jpg" alt="5"/>
              </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["Gloves"]' data-src="img/gallery-widget/5.jpg">
              <a href="img/gallery-widget/5.jpg">
                <div class="overlay"><span><i class="icon-expand"></i></span></div>
                <img src="img/gallery-widget/5.jpg" alt="6"/>
              </a>
            </div>
          </div>
        </div>
      </section><!--Gallery Widget Close-->