<div ng-controller="ToolbarController">
    <!--Toolbar-->
    <div class="toolbar group" >
        <a class="login-btn btn-outlined-invert" data-toggle="modal" data-target="#loginModal">
            <i class="icon-profile"></i> <span><b>L</b>ogin</span>
        </a>
        <a class="btn-outlined-invert" href="wishlist.html"><i class="icon-heart"></i> <span><b>W</b>ishlist</span></a>   
        <div class="cart-btn">
            <a class="btn btn-outlined-invert" href="shopping-cart.html" >
                <i class="icon-shopping-cart-content"></i><span>3</span><b>36 5654</b>
            </a>
            <!--Cart Dropdown-->    
            <div class="cart-dropdown">
                <span></span><!--Small rectangle to overlap Cart button-->
                <div class="body">
                    <table>
                        <tr>
                            <th>Items</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr class="item">
                            <td><div class="delete"></div><a href="#">Good Joo-Joo Surfb</a></td>
                            <td><input type="text" value="1"></td>
                            <td class="price">89 005 $</td>
                        </tr>
                        <tr class="item">
                            <td><div class="delete"></div><a href="#">Good Joo-Joo Item</a></td>
                            <td><input type="text" value="2"></td>
                            <td class="price">4 300 $</td>
                        </tr>
                        <tr class="item">
                            <td><div class="delete"></div><a href="#">Good Joo-Joo</a></td>
                            <td><input type="text" value="5"></td>
                            <td class="price">84 $</td>
                        </tr>
                    </table>
                </div>
                <div class="footer group">
                    <div class="buttons">
                        <a class="btn btn-outlined-invert" href="checkout.html"><i class="icon-download"></i>Checkout</a>
                        <a class="btn btn-outlined-invert" href="shopping-cart.html"><i class="icon-shopping-cart-content"></i>To cart</a>
                    </div>
                    <div class="total">93 389 $</div>
                </div>
            </div><!--Cart Dropdown Close-->
        </div>
        <button class="search-btn btn-outlined-invert"><i class="icon-magnifier"></i></button>
    </div><!--Toolbar Close-->

    <!--Login Modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h2>Ingresa o <a data-dismiss="modal" ng-click="toRegister()" style="cursor:pointer" >Registrate</a></h2>
                    <p class="large hide">Use social accounts</p>
                    <div class="social-login hide">
                        <a class="facebook" href="https://www.facebook.com/MiTianguisMX"><i class="fa fa-facebook-square"></i></a>
                        <a class="google" href="#"><i class="fa fa-google-plus-square"></i></a>
                        <a class="twitter" href="https://www.twitter.com/mitianguismx"><i class="fa fa-twitter-square"></i></a>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="login-form">
                        <div class="form-group group">
                            <label for="log-email">Email</label>
                            <input type="email" class="form-control" name="log-email" id="log-email" 
                                   placeholder="Ingresa tu correo" required>
                            <a class="help-link" href="#">¿Olvidaste tu correo electrónico?</a>
                        </div>
                        <div class="form-group group">
                            <label for="log-password">Contraseña</label>
                            <input type="text" class="form-control" name="log-password" id="log-password" 
                                   placeholder="Ingresa tu contraseña" required>
                            <a class="help-link" href="#">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="remember"> Recordar</label>
                        </div>
                        <input class="btn btn-black" type="submit" value="Entrar">
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
