<br><br>
<div class="page-content" ng-controller="AdminController">
      <!--Blog Sidebar Right-->
      <section class="blog" ng-controller="BlogCtrl">
      	<div class="container">
        	<div class="row">
          
          	<!--Left Column-->
          	<div class="col-lg-9 col-md-9">
              <h2 class="text-right"><a href="/#/admin/blog/crear"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Crear Nueva Entrada</a></h2>
              <br>
              <!--Post-->
              <div class="post" ng-repeat="blog in blogs track by $index">
              	<h1 class="title"><a href="/#/admin/blog/editar/{{blog.id}}">{{blog.titulo}}</a></h1>
                <img ng-src="/getImagenBlog/{{blog.imagen}}" style="width:849px;height:408px" alt="Blog post"/>
                <h2 style="word-wrap: break-word">{{blog.resumen}}</h2>
                <footer>
                  <a class="btn btn-primary" href="/#/admin/blog/editar/{{blog.id}}">Editar</a>
                  <a class="btn btn-primary" target="_blank" href="/?b={{blog.id}}">Ver</a>
                  <div class="share">
                  	<a href="https://www.facebook.com/sharer/sharer.php?u=http://mitianguis.mx/?b={{blog.id}}"><i class="fa fa-facebook-square"></i></a>
                    <a style="float:left" target="_blank" href="https://www.pinterest.com/pin/create/button/?url=http://mitianguis.mx&description={{blog.titulo}}&media=https://mitianguis.mx/getImagenBlog/cd22285c-49b6-4351-a37d-2c2da367094b.png"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
    </a>
                  </div>
                  <ul class="meta">
                 		<li><i class="fa fa-user"></i><a href="#"></a></li>
                    <li><i class="fa fa-calendar"></i><a href="javascript:void(0)">{{blog.createdAt | date:'dd.MM.yyyy'}}</a></li>
                    <li><i class="fa fa-comment"></i><a href="#">Comments (34)</a></li>
                 	</ul>
                </footer>
             </div>
             
              
            </div>
            
            <!--Sidebar-->
            <div class="col-lg-3 col-md-3" ng-if="false">
            	<!--Search Widget-->
              <h3>Search the blog</h3>
              <form class="sidebar-search">
              	<input type="text" class="form-control" name="search-blog" placeholder="Search">
                <button type="submit"></button>
              </form>
            	<!--Tags
              <h3>Tags</h3>
              <div class="tags">
              	<a href="#">Limo</a>, 
                <a href="#">theme</a>, 
              	<a href="#">HTML5</a>, 
                <a href="#">premium</a>, 
                <a href="#">shopping</a>, 
              	<a href="#">e-commerce</a> 
              </div>
              <!--Latest posts
              <h3>Latest posts</h3>
              <div class="latest-posts">
              	<div class="post">
                	<a href="blog-single.html">New awesome theme out there...</a>
                  <div class="meta">
                  	<a href="#">Comments <span>(34)</span></a>
                    <span class="date">12.02.2014</span>
                  </div>
                </div>
              	<div class="post">
                	<a href="blog-single.html">Lorem ipsum dolor sit amet...</a>
                  <div class="meta">
                  	<a href="#">Comments <span>(22)</span></a>
                    <span class="date">12.02.2014</span>
                  </div>
                </div>
              	<div class="post">
                	<a href="blog-single.html">Anim pariatur cliche reprehenderit...</a>
                  <div class="meta">
                  	<a href="#">Comments <span>(81)</span></a>
                    <span class="date">12.02.2014</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!--Blog Sidebar Right Close-->
      
      <!--Brands Carousel Widget-
      <section class="brand-carousel">
        <div class="container">
          <h2>Brands in our shop</h2>
          <div class="inner">
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
          </div>
        </div>
      </section><!--Brands Carousel Close-->
      
    </div><!--Page Content Close-->