<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div ng-controller="TianguisController">
    <section class="log-reg container">
        <div class="row" ng-show="showLogin.val">

               <div class="alert alert-success"  ng-show="showAlertExito = true">
                    <strong>Se ah activado tu cuenta exitosamente ingresa tus datos y bienviendio a miTianguis.</strong>
                    <button type="button" class="close" ng-click="showAlertExito = false">×</button>
                </div>
                
                <form name="loginForm" class="login-form" ng-submit="login();" novalidate>

                  <div class="alert alert-danger" role="alert" ng-show="errorLogin">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    El email y/o la contraseña son incorrectas
                  </div>

                  <div class="form-group group">
                    <label for="logEmail">Email</label>
                    <input type="email" class="form-control" name="logEmail" id="logEmail"
                           ng-model="user.username" placeholder="Ingresa tu correo" ng-required="true" />
                    <span ng-show="submitted==false">         
                    <span style="color:maroon" ng-show="loginForm.logEmail.$dirty && loginForm.logEmail.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="loginForm.logEmail.$error.required">Tu correo electrónico es requerido.</span>
                      <span ng-show="loginForm.logEmail.$invalid && !loginForm.logEmail.$error.required">Tu correo electrónico es inválido.</span>
                    </span>
                    </span>
                  </div>
                  <div class="form-group group">
                    <label for="logPassword">Contraseña</label>
                    <input type="password" class="form-control" name="logPassword" id="logPassword"
                           ng-model="user.password" placeholder="Ingresa tu contraseña"
                           ng-required="true" ng-minlength="6"/>
                    <a class="help-link" ng-click="showPassword();">¿Olvidaste tu contraseña?</a>
                    <span ng-show="submitted==false">  
                    <span style="color:maroon" ng-show="loginForm.logPassword.$dirty && loginForm.logPassword.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="loginForm.logPassword.$error.required">Tu contraseña es requerida.</span>
                      <span ng-show="loginForm.logPassword.$invalid && !loginForm.logPassword.$error.required">Tu contraseña debe tener un mínimo de 6 caracteres.</span>
                    </span>
                    </span>
                  </div>
                 <!-- <div class="checkbox">
                    <label><input type="checkbox" name="remember"> Recordar</label>
                  </div>-->
                  <input class="btn btn-black" ng-click="submitted=true"  ng-disabled="loginForm.$invalid" type="submit" value="Entrar" />
                </form>
        </div>



      <div class="widget" ng-show="showPassword.val">
   
       

                 <h2>Recuperar contraseña</h2>
                <p class="large hide">Recuperar contraseña</p>

                <form name="loginForm2" class="login-form" ng-submit="forgotPassword();" novalidate>

                  <div>
                    <label>Ingresa tu correo electrónico y en breve recibiras tu contraseña</label>
                  </div>

                  <div class="alert alert-success"  ng-show="showAlert">
                    <strong>Se ah enviado tu nueva contraseña a tu correo electrónico, recuerda checar la carpeta de SPAM también.</strong><a href="http://mitianguis.mx/#/"> Regresar al inicio. </a>
                    <button type="button" class="close" ng-click="showAlert = false">×</button>
                  </div>

                  <div class="alert alert-danger"  ng-show="showAlertDanger">
                    <strong>Ese correo electrónico no esta registrado en el sistema,<a  href="http://mitianguis.mx/store#/registroUser"><span>R</span>egistrate</a></strong>
                    <button type="button" class="close" ng-click="showAlertDanger = false">×</button>
                  </div>

                  </br>

                  <div class="form-group group">
                    <label for="logEmail2">Email</label>
                    <input type="email" class="form-control" name="logEmail2" id="logEmail2"
                           ng-model="forgotMail" placeholder="Ingresa tu correo" ng-required="true" />
                    <span style="color:maroon" ng-show="loginForm2.logEmail2.$dirty && loginForm2.logEmail2.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="loginForm2.logEmail2.$error.required">Tu correo electrónico es requerido.</span>
                      <span ng-show="loginForm2.logEmail2.$invalid && !loginForm2.logEmail2.$error.required">Tu correo electrónico es inválido.</span>
                    </span>
                  </div>


                  <input class="btn btn-black" ng-disabled="loginForm2.$invalid" type="submit" value="Enviar" />

                  <a ng-click="showPassword.val = false;showLogin.val = true" class="btn btn-primary">Regresar</a>
         

               </form>

          </div> 

    </section>

</div>
