<div ng-controller="AdminController">
 <!--Blog Sidebar Left-->
 <br/><br/><br/><br/>
 <section class="blog">
   <div class="container">
   <br/>
     <div>
       <miperfil ng-if="menuOptions[1].show"></miperfil>
       <tiendas ng-if="menuOptions[3].show"></tiendas>
       <ventas ng-if="menuOptions[4].show"></ventas>

       <productos style="display:{{menuOptions[2].display}};"></productos>
       <!--
       <red ng-if="menuOptions[4].show"></red>-->

     </div>
   </div>
 </section><!--Blog Sidebar Left Close-->

 <!--Brands Carousel Widget-->
 <section class="brand-carousel">
   <div class="container">
    <h2>¿Algo mas para poner?</h2>
   </div>
 </section>


  <!-- modal -->
  <div class="modal fade" id="exitoNuevoMercanteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>Mensaje de Confirmacion</h2>
        </div>
        <div  class="modal-body">
          <p>
            Su registro como MERCANTE fue completado con EXITO. Ahora podrá disfrutar de todos los
            beneficios que MiTianguis tiene solo para ti.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
