<div class="post" ng-controller="ProductosAdminController">
  <link rel="stylesheet" type="text/css" href="../../css/productos.css">
  <div>
    <div>
      <h2>Tienda:::  <b>{{ tiendaSelected.nombre }}</b></h2>
    </div>
    <!-- DESPLIEGUE DE PRODUCTOS  -->
    <span style="display:{{vistas[0]}}">
      <span>
        Tienes {{productosDisponibles.length}} productos cargados en tu tienda

        <button class="btn btn-black btn-sm" style="float: right" ng-click="selecciono(3)">
          <span class="fa fa-repeat"></span>
          Regresar
        </button>
        <button class="btn btn-default btn-sm" style="float: right"
                data-toggle="modal" data-target="#productoModal" >
          <span class="glyphicon glyphicon-plus"></span>
          Agregar Producto
        </button>

        <br/><br/><hr/>
        <table class="table-striped table-hover" ng-show="productosDisponibles.length > 0"
               cellpadding="10" cellspacing="5" width="100%" >
          <tr>
            <th>&nbsp;</th>
            <th>PRODUCTO</th>
            <th>PRECIO</th>
            <th>CATEGORIAS</th>
            <th>EN STOCK</th>
            <th>ACCIONES</th>
          </tr>
          <tr ng-repeat="producto in productosDisponibles" class="cursor">
            <td style="vertical-align: middle" align="center">
              <img src="{{producto.imagenPrincipal}}" width="40" height="40">
            </td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio | currency}}</td>
            <td>{{formatoCategoria(producto.categorias)}}</td>
            <td>{{producto.stock}}</td>
            <td>
              <span class="glyphicon glyphicon-trash cursor" aria-hidden="true"
                    data-toggle="modal" data-placement="bottom" title="ELIMINAR"
                    data-target="#productoDelModal" ng-click="setProductoSelected(producto)" ></span>
              <span class="glyphicon glyphicon-pencil cursor" aria-hidden="true"
                    data-toggle="modal" data-placement="bottom" title="EDITAR"
                    data-target="#productoModal" ng-click="setAsNuevoProducto(false, producto)"></span>
              <span class="glyphicon glyphicon-picture cursor" aria-hidden="true"
                    data-toggle="tooltip" data-placement="bottom" title="CONFIGURAR IMAGENES"
                    ng-click="setProductoSelected(producto);initImagenes();setView(1);"></span>
              <span class="glyphicon glyphicon-plus cursor" aria-hidden="true"
                    title="CONFIGURAR SUBPRODUCTOS"
                    ng-click="setProductoSelected(producto);setView(2);"
                    data-toggle="tooltip" data-placement="bottom"></span>
            </td>
          </tr>
        </table>
      </span>
    </span>

    <!-- DESPLIEGUE DE IMAGENES Y ARCHIVOS -->
    <div style="display:{{vistas[1]}}">
      <h4>
        PERSONALIZA TUS IMAGENES Y ARCHIVOS DE <b><i>{{productoSelected.nombre.toUpperCase()}}</i></b>
        <button class="btn btn-black btn-sm" style="float: right;position: relative;top:-5px;font-size: 15px;"
                ng-click="setView(0)">
          <span class="fa fa-repeat"></span>
          Regresar
        </button>
      </h4>
      <hr/>
      <h4> IMAGEN PRINCIPAL </h4>
      <div class="thumbnail" style="height: 200px;width: 300px;margin: 0px;">
        <h4 class="fondoMiTianguis" style="text-align: center;margin: 0px;">IMAGEN PRINCIPAL</h4>
        <div align="center">
          <div class="img-wrap">
            <span id="btnBorrarImgPrincipal" class="close" ng-click="viewDialogDelArchivo(IMAGEN_PRINCIPAL,null);">
              <i class="glyphicon glyphicon-remove"></i>
            </span>
            <span class="edit" ng-click="prepararCambiarImagenPrincipal();"><i class="fa fa-edit"></i></span>
            <img ng-if="productoSelected.imagenPrincipal"
                 src="{{productoSelected.imagenPrincipal}}" width="100%"
                 style="height: 180px;max-height: 180px; min-height: 180px;">
          </div>
        </div>
      </div>

      <br/><hr/>
      <h4> IMAGENES SECUNDARIAS </h4>
      <div class="row">
        <div class="span3" ng-repeat="imagenSecu in imagenesSecundariasTemp" >
          <div class="thumbnail" style="height: 200px;width: 280px;"
               ng-show="$index <= (imagenesSecundariasTemp.length - 2)"  >
            <h4 class="fondoMiTianguis" style="text-align: center;margin: 0px;">{{$index + 1}} - IMAGEN SECUNDARIA</h4>
            <div align="center" style="margin: 0px;width: 100%;height: 100%">
              <div class="img-wrap" style="margin: 0px;">
                <span id="btnBorrarSecundaria" class="close confirmation-callback"
                      ng-click="viewDialogDelArchivo(IMAGEN_SECUNDARIA,$index);">
                  <i class="glyphicon glyphicon-remove"></i>
                </span>
                <span class="edit" ng-click="prepararCambiarImagenSecundria($index);"><i class="fa fa-edit"></i></span>
                  <img src="{{imagenSecu}}" width="100%" height="200"
                       style="height: 180px;max-height: 180px; min-height: 180px;"
                       alt="Imagen Principal"   >
              </div>
            </div>
          </div>
          <div class="thumbnail" ng-if="$index === (imagenesSecundariasTemp.length - 1)"
               style="height: 200px;" ng-click="tiendaCtrl.setAsNuevaTienda(true, null)">
            <h4>&nbsp;</h4>
            <div align="center">
              <span data-toggle="modal" data-target="#tiendaModal"
                    ng-click="prepararCambiarImagenSecundria(null);">
                <img src="../../imagenes/add.png" alt="Agrega una nueva imagen"
                     style="width: 110px;height: 110px" >
              </span>
            </div>
          </div>
        </div>
      </div>

      <br/><hr/>
      <h4> ARCHIVOS </h4>
      <div class="row">
        <div class="span3" ng-repeat="archivo in archivosTemp" >
          <div class="thumbnail" style="height: 200px;width: 280px;" ng-show="$index <= (archivosTemp.length - 2)">
            <h4 class="fondoMiTianguis" style="text-align: center;margin: 0px;">{{$index + 1}} - ARCHIVOS</h4>
            <div align="center" style="margin: 0px;width: 100%;height: 100%">
              <div class="img-wrap" style="margin: 0px;">
                <span class="close" ng-click="viewDialogDelArchivo(ARCHIVO,$index);">
                  <i class="glyphicon glyphicon-remove"></i></span>
                <span class="edit" ng-click="prepararCambiarArchivo($index);" ><i class="fa fa-edit"></i></span>
                <img src="../../imagenes/archivoPdf.jpg" width="100%" height="180"
                     alt="{{archivo.nombre}}" title="{{archivo.nombre}}"
                     style="margin:0px;height: 180px;max-height: 180px; min-height: 180px;"  >
              </div>
            </div>
            <div align="center">{{archivo.nombre}}</div>
          </div>

          <div class="thumbnail" ng-if="archivosTemp.length === 1 "
               style="height: 200px;" ng-click="tiendaCtrl.setAsNuevaTienda(true, null)">
            <h4>&nbsp;</h4>
            <div align="center">
              <span ng-click="prepararCambiarArchivo(null);" >
                <img src="../../imagenes/add.png" alt="Agrega un nuevo archivo"
                     style="width: 110px;height: 110px" >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div style="display:{{vistas[2]}}">
      <h4>
        PERSONALIZA LOS MODELOS DE TU PRODUCTO <b><i>{{productoSelected.nombre.toUpperCase()}}</i></b>
        <button class="btn btn-black btn-sm" style="float: right;position: relative;top:-5px;font-size: 15px;"
                ng-click="setView(0)">
          <span class="fa fa-repeat"></span>
          Regresar
        </button>
        <button class="btn btn-default btn-sm" style="float: right;position: relative;top:-5px;font-size: 15px;"
                data-toggle="modal" data-target="#subProductoModal"
                ng-click="setAsNewSubProducto(null, true)">
          <span class="glyphicon glyphicon-plus"></span>
          Agregar Modelo
        </button>
      </h4>
      <hr/>
      <table class="table-striped table-hover" ng-show="productoSelected.subproductos.length > 0"
             cellpadding="10" cellspacing="5" width="100%" >
        <tr>
          <th>&nbsp;</th>
          <th>MODELO</th>
          <th>PRECIO</th>
          <th>EN STOCK</th>
          <th>ACCIONES</th>
        </tr>
        <tr ng-repeat="subproducto in productoSelected.subproductos" class="cursor">
          <td style="vertical-align: middle" align="center">
            <img src="{{subproducto.imagen}}" width="80" height="60">
          </td>
          <td>{{subproducto.modelo}}</td>
          <td>{{subproducto.precio | currency}}</td>
          <td>{{subproducto.stock}}</td>
          <td>
              <span class="glyphicon glyphicon-trash cursor" aria-hidden="true"
                    data-toggle="modal" data-placement="bottom" title="ELIMINAR"
                    data-target="#subProdDelModal" ng-click="setSubProductoSelected(subproducto)" ></span>
              <span class="glyphicon glyphicon-pencil cursor" aria-hidden="true"
                    data-toggle="modal" data-placement="bottom" title="EDITAR"
                    data-target="#subProductoModal" ng-click="setAsNewSubProducto(subproducto, false)"></span>
          </td>
        </tr>
      </table>
      <div ng-show="!productoSelected.subproductos.length">
        <i>No tiene subproductos registrados</i>
      </div>
    </div>

    <!-- MODALES -->

    <div class="modal fade" id="productoModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <span class="cs-heading"><b style="font-size: 18px;"> {{titulo}}</b> </span>
            <br/>
            <span class="tenue" >Los campos marcados con * son obligatorios.</span>
          </div>
          <div  class="modal-body scroll500">
            <form class="form-horizontal" name="form" role="form"
                  ng-submit="registrarProducto(form.$valid)"  novalidate>
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre*</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nombre" name="nombre"
                         ng-model="producto.nombre" placeholder="Escribe el nombre del producto"
                         ng-required="true">
                  <span style="color:maroon" ng-show="form.nombre.$dirty && form.nombre.$invalid">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-show="form.nombre.$error.required">El nombre del producto es requerido.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Descripción Corta*</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="descripconCorta" name="descripconCorta"
                         ng-model="producto.descripcionCorta" required
                         placeholder="Escribe la descripcion corta del producto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Descripción*</label>
                <div class="col-sm-10">
                  <textarea id="descripcion" name="descripcion" class="form-control"
                            ng-model="producto.descripcion" rich-text-editor
                            placeholder="Escriba la descripción de su producto"
                            ng-required="true"></textarea>
                  <span style="color:maroon" ng-show="form.descripcion.$dirty && form.descripcion.$invalid">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-show="form.descripcion.$error.required">La descripción del producto es requerido.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Precio*</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="precio" name="precio" ng-required="true"
                         ng-model="producto.precio" placeholder="Escribe el precio del producto"
                         valid-number-float>
                  <span style="color:maroon" ng-show="form.precio.$dirty && form.precio.$invalid">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-show="form.precio.$error.required">El precio del producto es requerido.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">&nbsp;</label>
                <div class="col-sm-10">
                  <div id="btnGroupImgPrincipal" class="btnb-group" data-toggle="buttons">
                    <label id="labelImagenUpload" class="btnb btnb-default {{isImagenPrincipalConURL?'':'active'}}" ng-click="mostrarInputImgPrincipal(false)">
                      <input type="radio" id="q156" name="opcImgPrincipal" value="1" checked="checked"
                             /> Selecciona una imagen
                    </label>
                    <label id="labelImagenUrl" class="btnb btnb-default {{isImagenPrincipalConURL?'active':''}}" ng-click="mostrarInputImgPrincipal(true)" >
                      <input type="radio" id="q160" name="opcImgPrincipal" value="5"
                             /> Escribe la URL de tu imagen
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group" ng-show="isNuevoProducto">
                <label class="col-sm-2 control-label">Imagen Principal</label>
                <div class="col-sm-10">
                  <input type="file" class="form-control" id="imgPrincipal" name="imgPrincipal"
                         nv-file-select uploader="imgPrincipalUpload" ng-hide="isImagenPrincipalConURL">
                  <input type="text" class="form-control" id="imgPrincipalUrl" name="imgPrincipal"
                         ng-show="isImagenPrincipalConURL" placeholder="Escribe la URL de la imagen principal de tu producto"
                         ng-model="producto.imagenPrincipal">
                </div>
                <span style="color:maroon" ng-show="msgErrorImgPrincipal != ''">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span>{{msgErrorImgPrincipal}}</span>
                </span>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">&nbsp;</label>
                <div class="col-sm-10">
                  <div id="btnGroupImgSecu" class="btnb-group" data-toggle="buttons">
                    <label id="labelImagenSecuUpload" class="btnb btnb-default {{isImagenSecuConURL?'':'active'}}" ng-click="mostrarInputImgSecu(false)">
                      <input type="radio" name="opcImgSecu" value="1" checked="checked"
                        /> Selecciona una imagen
                    </label>
                    <label id="labelImagenSecuUrl" class="btnb btnb-default {{isImagenSecuConURL?'active':''}}" ng-click="mostrarInputImgSecu(true)" >
                      <input type="radio" name="opcImgSecu" value="5"
                        /> Escribe la URL de tu imagen
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group" ng-show="isNuevoProducto">
                <label class="col-sm-2 control-label">Imagenes Secundarias</label>
                <div class="col-sm-10">
                  <input type="file" class="form-control" id="imgSecu" name="imgSecu"
                         nv-file-select uploader="imgSecundariasUpload"
                         ng-hide="isImagenSecuConURL">

                  <table width="100%" ng-show="isImagenSecuConURL" >
                    <tr>
                      <td width="85%">
                        <input type="text" class="form-control" name="imgSecundaria"
                               ng-model="imgSecuUrlTemp"
                               placeholder="Escribe la URL de tu imagen"
                               ng-enter="agregaImgSecuUrl( )"></td>
                      <td width="5%">&nbsp;</td>
                      <td>
                        <div class="btn-mt">
                          <span><i class="glyphicon glyphicon-plus"
                                   ng-click="agregaImgSecuUrl( )"></i></span>
                        </div>
                      </td>
                    </tr>
                  </table>

                  <span style="font-size: 11px;">Nota: Puedes agregar mas de una imagen.</span><br/>
                  <span style="color:maroon" ng-show="msgErrorImgSecundaria != ''">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span>{{msgErrorImgSecundaria}}</span>
                  </span>
                  <div  ng-hide="isImagenSecuConURL" style="width: 100%" ng-repeat="item in imgSecundariasUpload.getNotUploadedItems()">
                    <div style="width: 200px;">
                      <span class="label label-default" style="width: 150px;">{{item.file.name}}</span>
                      <span class="glyphicon glyphicon-remove cursor" aria-hidden="true"
                            ng-click="removerArchivoImagen(item);"></span>
                    </div>
                  </div>
                  <div  ng-show="isImagenSecuConURL" style="width: 100%"
                        ng-repeat="imgSecu in producto.imagenesSecundarias">
                    <div style="width: 200px;">
                      <span class="label label-default" style="width: 150px;">{{imgSecu}}</span>
                      <span class="glyphicon glyphicon-remove cursor" aria-hidden="true"
                            ng-click="removerArchivoImagenUrl($index);"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">¿Promocionar?</label>
                <div class="col-sm-9">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btnb btnb-default {{isPrincipal}}" ng-click="setIsPrincipal(true)">
                      <input type="radio" name="inputPrioridad" value="true"  checked> SI
                    </label>
                    <label class="btnb btnb-default {{notIsPrincipal}}" ng-click="setIsPrincipal(false)">
                      <input type="radio" name="inputPrioridad" value="false" > NO
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Categorias</label>
                <div class="col-sm-10">
                  <table width="100%">
                    <tr>
                      <td width="85%"><input type="text" class="form-control" id="categoria" name="categoria"
                                 ng-model="categoriaElegida" placeholder="Escribe la categoria asociada al producto"
                                 ng-enter="agregaCategoria( )"></td>
                      <td width="5%">&nbsp;</td>
                      <td>
                        <div class="btn-mt">
                          <span id="qcf-btn"><i class="glyphicon glyphicon-plus"
                                ng-click="agregaCategoria( )"></i></span>
                        </div>
                      </td>
                    </tr>
                  </table>
                  <span style="font-size: 11px;">Nota: Escribe la categoria en formato HashTag, Ej. <i><b>#electronica, #dvd, etc</b> </i></span>
                  <div ng-repeat="categoria in categorias">
                    <div class="left">
                      <span class="label label-default">{{categoria}}</span>
                      <span class="glyphicon glyphicon-remove cursor" aria-hidden="true"
                            ng-click="removerCategoria($index);"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Stock</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="stock" name="stock" only-digits
                         ng-model="producto.stock" placeholder="Escribe la cantidad de productos disponibles a vender">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">SKU</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sku" name="sku"
                         ng-model="producto.sku" placeholder="Escribe el SKU de producto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Precio Mayoreo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="precioMayoreo" name="precioMayoreo" valid-number-float
                         ng-model="producto.precioMayoreo" placeholder="Escribe el precio de mayoreo del producto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Cantidad de Mayoreo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="cantidadMayoreo" name="cantidadMayoreo" only-digits
                         ng-model="producto.cantidadMayoreo" placeholder="Escribe la cantidad de mayoreo del producto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">informacion Extra</label>
                <div class="col-sm-10">
                  <textarea id="infoExtra" class="textarea form-control"
                            placeholder="Escriba informacion adicional sobre su producto (Tallas, capacidad, etc.)"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Garantia</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="garantia" name="garantia"
                         ng-model="producto.garantia" placeholder="Escribe la garantia del producto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Peso</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="peso" name="peso" valid-number-float
                         ng-model="producto.peso" placeholder="Escribe el peso del producto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Ancho</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ancho" name="ancho" valid-number-float
                         ng-model="producto.ancho" placeholder="Escribe el ancho del producto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Alto</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="alto" name="alto" valid-number-float
                         ng-model="producto.alto" placeholder="Escribe el alto del producto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Largo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="largo" name="largo" valid-number-float
                         ng-model="producto.largo" placeholder="Escribe el largo del producto">
                </div>
              </div>
              <div class="form-group" ng-show="isNuevoProducto">
                <label class="col-sm-2 control-label">Especifi caciones</label>
                <div class="col-sm-10">
                  <input type="file" class="form-control" id="fileEspec" name="fileEspec"
                         nv-file-select uploader="fileUpload">
                  <span style="color:maroon" ng-show="msgErrorArchivo != ''">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span>{{msgErrorArchivo}}</span>
                  </span>
                </div>
              </div>
              <input class="btn btn-black" ng-disabled="form.$invalid" type="submit" value="Aceptar" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="subProductoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>{{tituloSubProductoModal}}</h2>
        </div>
        <form  name="subproductoForm" role="form" ng-submit="accionSubProducto()"  novalidate>
          <div  class="modal-body">
            <div class="row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <div class="span2">Modelo</div>
                  <div class="span9">
                    <input type="text" name="subprodNombre" ng-model="subproducto.modelo" class="form-control"
                           ng-required="true">
                    <span style="color:maroon" ng-show="subproductoForm.subprodNombre.$dirty && subproductoForm.subprodNombre.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="subproductoForm.subprodNombre.$error.required">El nombre del modelo es requerido.</span>
                    </span>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span2">&nbsp;</div>
                  <div class="span9">
                    <div class="btnb-group" data-toggle="buttons">
                      <label class="btnb btnb-default {{isImagenSubProdURL?'':'active'}}"
                             ng-click="mostrarInputImgSubProd(false)">
                        <input type="radio" name="opcImgSecu" value="1" checked="checked"
                          /> Selecciona una imagen
                      </label>
                      <label class="btnb btnb-default {{isImagenSubProdURL?'active':''}}"
                             ng-click="mostrarInputImgSubProd(true)" >
                        <input type="radio" name="opcImgSecu" value="5" /> Escribe la URL de tu imagen
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span2">Imagen</div>
                  <div class="span9">
                    <input type="file" class="form-control" ng-hide="isImagenSubProdURL"
                           nv-file-select uploader="cambiarArchivoUpload">
                    <input type="text" class="form-control" ng-show="isImagenSubProdURL"
                           ng-model="subproducto.imagen">
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span2">Precio</div>
                  <div class="span9">
                    <input type="text" ng-model="subproducto.precio" class="form-control"
                           placeholder="Escribe el precio del producto" ng-required="true"
                           name="subprodPrecio" valid-number-float>
                <span style="color:maroon" ng-show="subproductoForm.subprodPrecio.$dirty && subproductoForm.subprodPrecio.$invalid">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span ng-show="subproductoForm.subprodPrecio.$error.required">El precio es requerido.</span>
                </span>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span2">Stock</div>
                  <div class="span9">
                    <input type="text" ng-model="subproducto.stock" class="form-control" name="subprodStock"
                           ng-required="true" placeholder="Cantidad de productos disponibles a vender"
                           only-digits>
                    <span style="color:maroon" ng-show="subproductoForm.subprodStock.$dirty && subproductoForm.subprodStock.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="subproductoForm.subprodStock.$error.required">El stock es requerido.</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  class="modal-footer">
            <input id="btnSubProducto" class="btn btn-black" ng-disabled="subproductoForm.$invalid"
                   type="submit" value="Aceptar" />
          </div>
        </form>
      </div><!-- /.modal-content -->

    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="productoDelModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>ELIMINAR PRODUCTO</h2>
        </div>
        <div  class="modal-body">
          ¿Esta seguro que desea borrar el producto seleccionado? Tus Clientes potenciales ya no podrán verlo.
        </div>
        <div  class="modal-footer">
          <input class="btn btn-primary" type="button" value="Si" ng-click="borrarProducto();" />
          <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="archivoDelModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>{{dlgTitulo}}</h2>
        </div>
        <div  class="modal-body">
          {{dlgMensaje}}
        </div>
        <div  class="modal-footer">
          <input class="btn btn-primary" type="button" value="Si"
                 ng-click="borrarArchivoDetalle();" />
          <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="subProdDelModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>Confirmación para Eliminar el Modelo </h2>
        </div>
        <div  class="modal-body">
          ¿Está seguro que desea eliminar el modelo seleccionado?. Sus clientes ya no podrán verlo en su Tienda.
        </div>
        <div  class="modal-footer">
          <input class="btn btn-primary" type="button" value="Si"
                 ng-click="borrarSubProducto();" />
          <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade" id="prodCambiaImgModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" name="formImg" role="form"
              ng-submit="cambiarImagen()"  novalidate>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h2>CAMBIAR {{tituloCambiaArchivo}}</h2>
          </div>
          <div  class="modal-body scroll500">
            <div class="btnb-group" data-toggle="buttons">
              <label class="btnb btnb-default {{isImagenActURL?'':'active'}}"
                     ng-click="mostrarInputImgAct(false)">
                <input type="radio" name="opcImgSecu" value="1" checked="checked"
                  /> Selecciona una imagen
              </label>
              <label class="btnb btnb-default {{isImagenActURL?'active':''}}"
                     ng-click="mostrarInputImgAct(true)" >
                <input type="radio" name="opcImgSecu" value="5"
                  /> Escribe la URL de tu imagen
              </label>
            </div>
            <br/><br/>
            <label>{{labelCambiaArchivo}}</label><br/>

            <input type="file" class="form-control" name="imagen-producto"
                   ng-if="infoProducto.tipoArchivo === 'ImagenPrincipal' && !isImagenActURL"
                   nv-file-select uploader="imgPrincipalUpload" >

            <input type="file" class="form-control" name="imagen-producto"
                   ng-if="infoProducto.tipoArchivo === 'ImagenSecundaria' && !isImagenActURL"
                   nv-file-select uploader="cambiarArchivoUpload" >

            <input type="text" class="form-control" name="imagen-producto-act"
                   ng-show="isImagenActURL" placeholder="Escribe la URL de tu Imagen"
                   ng-model="imagenActURL">

            <div style="color:maroon" ng-show="msgErrorImgPrincipal != ''">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span>{{msgErrorImgPrincipal}}</span>
            </div>

            <div style="color:maroon" ng-show="msgErrorCamiarArchivo != ''">
              <span class="glyphicon glyphicon-remove hide" aria-hidden="true"></span>
              <span>{{msgErrorCamiarArchivo}}</span>
            </div>

          </div>
          <div  class="modal-footer">
            <input class="btn btn-primary" type="submit" value="Si" />
            <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="prodCambiaArchivoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <form class="form-horizontal" name="formImg" role="form"
              ng-submit="cambiarArchivoPdf()"  novalidate>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h2>{{tituloCambiaArchivoPdf}}</h2>
          </div>
          <div  class="modal-body">
            <br/>
            <label>{{labelCambiaArchivoPdf}}</label><br/>
            <input type="file" class="form-control" name="imagen-producto"
                   nv-file-select uploader="cambiarArchivoUpload" >
            <div style="color:maroon" ng-show="msgErrorArchivo != ''">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span>{{msgErrorArchivo}}</span>
            </div>

          </div>
          <div  class="modal-footer">
            <input class="btn btn-primary" type="submit" value="Si" />
            <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h2>Error al procesar solicitud</h2>
          </div>
          <div  class="modal-body">
            <label>{{mensajeErrorModal}}</label>
          </div>
          <div  class="modal-footer">
            <input class="btn btn-black" type="button" value="Aceptar" data-dismiss="modal" />
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



</div>


