<div class="post" ng-controller="TiendaController as tiendaCtrl">
  <span class="p-style3">
    <section id="bodySection">
      <div class="container">
        <div class="row">
          <div class="span3" ng-repeat="tiendabd in tiendaCtrl.mistiendas">
            <div class="thumbnail" ng-if="tiendabd.nombre!=='Nuevo'" style="height: 200px;cursor: pointer;"
                 ng-click="tiendaCtrl.verDetalle(tiendabd); tiendaCtrl.goDetalle(tiendabd)"  >
              <h4 class="page-header fondoMiTianguis">{{tiendabd.nombre}}</h4>
              <a style="width: 50px;height: 50px;margin: 0px;cursor: pointer"
                 ng-click="tiendaCtrl.verDetalle(tiendabd)">
                <img src="{{tiendabd.logo}}" width="50" height="50" style="height: 50px;max-height: 50px; min-height: 50px;" />
              </a>
              <span style="font-size: 11px;margin: 0px;">
                <span ng-bind-html="trustAsHtml(tiendabd.descripcion)"></span>
                <span ng-if="!tiendabd.descripcion" style="font-style: italic;"  >
                   &lt;&lt;Sin descripción&gt;&gt;
                </span>
              </span>
              <div class="btn-toolbar">
                <div class="social" >

                  <span data-toggle="modal" data-target="#tiendaDelModal" title="Borrar Tienda"
                     class="bordeHover"
                     ng-click="tiendaCtrl.setTiendaSelected(tiendabd);">
                    <i class="fa fa-trash-o"></i>
                  </span>
                  <span data-toggle="modal" class="bordeHover" data-toggle="modal"
                        data-target="#tiendaModal"
                        ng-click="tiendaCtrl.setAsNuevaTienda( false, tiendabd );">
                    <i class="fa fa-edit"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="thumbnail" ng-if="tiendabd.nombre==='Nuevo'"
                 style="height: 200px;" ng-click="tiendaCtrl.setAsNuevaTienda(true, null)">
              <h4>&nbsp;</h4>
              <div align="center">
              <span data-toggle="modal" data-target="#tiendaModal"  >
                <img src="../../imagenes/add.png" alt="Agrega una nueva Tienda"
                     style="width: 110px;height: 110px" >
              </span>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
    </section>
  </span>

  <!-- modal -->
  <div class="modal fade" id="tiendaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>{{tiendaCtrl.tituloModal}}</h2>
          <span class="tenue" >Los campos marcados con * son obligatorios.</span>
        </div>
        <div  class="modal-body">
          <form name="tiendaForm" class="login-form" ng-submit="tiendaCtrl.crear();" novalidate>
            <div class="alert alert-danger" role="alert" ng-show="errorTienda">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{tiendaCtrl.errorMessageTienda}}
            </div>

            <div class="form-group group">
              <input type="text" class="form-control" name="nombre" id="nombre"
                     ng-model="tiendaCtrl.tienda.nombre" placeholder="Escribe el nombre de tu tienda *" ng-required="true" />
              <span style="color:maroon" ng-show="tiendaForm.nombre.$dirty && tiendaForm.nombre.$invalid">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span ng-show="tiendaForm.nombre.$error.required">El nombre de tu tienda es obligatorio.</span>
              </span>
            </div>
            <div class="form-group group">
              <textarea class="form-control" placeholder="Escriba la descripcion de su tienda"
                        name="descripcionTienda" id="descripcionTienda"
                        ng-model="tiendaCtrl.tienda.descripcion"
                        rich-text-editor></textarea>
            </div>
            <div class="form-group group">
              <input type="text" class="form-control" name="url" id="url"
                     ng-model="tiendaCtrl.tienda.url" placeholder="Escribe la url de acceso a tu tienda * " ng-required="true" />
              <span style="font-size: 11px;">Ej. <b>zonajuegos</b> podrá ser vista como: <i>https://zonajuegos.mitianguis.mx</i></span>
              <span style="color:maroon" ng-show="tiendaForm.url.$dirty && tiendaForm.url.$invalid">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span ng-show="tiendaForm.url.$error.required">La url es requerido.</span>
                <span ng-show="tiendaForm.url.$invalid && !tiendaForm.url.$error.required">
                  {{tiendaCtrl.urlMessageError}}
                </span>
              </span>
            </div>
            <div class="form-group group">
              <img  ng-if="tiendaCtrl.tienda.logo" src="{{tiendaCtrl.tienda.logo}}"
                    width="50" height="50" style="height: 50px;max-height: 50px; min-height: 50px;" />
              <input type="file" class="form-control" placeholder="Agrega el logo de tu tienda"
                     nv-file-select uploader="tiendaCtrl.uploader" name="logo" id="logo"
                     ng-show="tiendaCtrl.isNuevaTienda"/>
              <input type="file" class="form-control" placeholder="Edita el logo de tu tienda"
                     nv-file-select uploader="tiendaCtrl.uploaderEdit" name="logo" id="logo"
                     ng-hide="tiendaCtrl.isNuevaTienda"/>
            </div>
            <div class="form-group group">
              <input type="text" class="form-control" placeholder="Pega aqui la URL de tu tienda en faceboook"
                        name="urlFacebook" id="urlFacebook" ng-model="tiendaCtrl.tienda.facebook" />
            </div>
            <div class="form-group group">
              <input type="text" class="form-control" placeholder="Pega aqui la URL de tu tienda en Twitter"
                     name="urlTwitter" id="urlTwitter" ng-model="tiendaCtrl.tienda.twitter" />
            </div>
            <div class="form-group group">
              <input type="text" class="form-control" placeholder="Pega aqui la URL de tu tienda en Youtube"
                     name="urlYoutube" id="urlYoutube" ng-model="tiendaCtrl.tienda.youtube" />
            </div>
            <input class="btn btn-black" ng-disabled="tiendaForm.$invalid" type="submit" value="{{tiendaCtrl.btnLabel}}" />
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- modal -->
  <div class="modal fade" id="tiendaDelModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>Eliminar tu tienda</h2>
        </div>
        <div  class="modal-body">
          <p>
            ¿Desea eliminar la tienda seleccionada?. Esta operación ya no se puede deshacer
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="tiendaCtrl.borrarTienda();" >Aceptar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>

