 <div class="post" ng-controller="VentasAdminController" ng-app="tabPanel" >



     <section class="shopping-cart"  ng-click="tabChange($event)">
          <div class="col-lg-11 col-md-11 col-sm-11">
            <div class="tabs-widget">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab01" data-toggle="tab"  ng-click="consultarVentas(0);">Ordenados</a></li>
                <li><a href="#tab02" data-toggle="tab"  ng-click="consultarVentas(1);">En Transito</a></li>
                <li><a href="#tab03" data-toggle="tab"  ng-click="consultarVentas(2);">Entregados</a></li>
                <li><a href="#tab04" data-toggle="tab"  ng-click="consultarVentas(3);">Confirmados</a></li>
                <li><a href="#tab05" data-toggle="tab"  ng-click="consultarVentas(-1);">Cancelados</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab01">
                   <table class="items-list">
                    <tr>
                      <th class="text-center">Folio Venta</th>
                      <th class="text-center">Nombre Producto</th>
                      <th class="text-center">Cantidad Vendidas</th>
                      <th class="text-center">Subtotal</th>
                      <th class="text-center">Total</th>
                      <th class="text-center">Cambiar Estatus</th>
                    </tr>
                    <!--Item-->
                    <tr class="item first"  ng-repeat="productoVenta in ventas" >
                      <td class="price"><a href="shop-single-item-v1.html">{{productoVenta.folio}}</a></td>
                      <td class="name"><a href="shop-single-item-v1.html">{{productoVenta.nombre}}</a></td>
                      <td class="qnt-count">
                        <input class="quantity form-control" type="text" value="{{productoVenta.cantidad}}">
                      </td>
                      <td class="price">${{productoVenta.subtotal}}</td>
                      <td class="price">${{productoVenta.totalVenta}}</td>
                      <td class="text-left">
                        <select class="form-control" ng-model="ventaStatus" ng-options="ventaStatus for ventaStatus in statusVenta" required>
                                  <option value="" ng-if="true">Selecciona</option>
                        </select>
                        <a  class="btn btn-primary btn-xs" data-toggle="modal" data-target="#estatusTransito" type="submit" ng-click="setStatus(ventaStatus,0,productoVenta.id);"><i></i> Aceptar </a>
                      </td>
                    </tr>    
                  </table>
                </div>
                <div class="tab-pane fade" id="tab02">
                 <table class="items-list">
                    <tr>
                      <th>Folio Venta</th>
                      <th>Nombre Producto</th>
                      <th>Cantidad Vendidas</th>
                      <th>Subtotal</th>
                      <th>Total</th>
                      <!--<th>Cambiar Estatus</th>-->
                    </tr>
                    <!--Item-->
                    <tr class="item first"  ng-repeat="productoVenta in ventas" >
                      <td class="price"><a href="shop-single-item-v1.html">{{productoVenta.folio}}</a></td>
                      <td class="name"><a href="shop-single-item-v1.html">{{productoVenta.nombre}}</a></td>
                      <td class="qnt-count">
                        <input class="quantity form-control" type="text" value="{{productoVenta.cantidad}}">
                      </td>
                      <td class="price">${{productoVenta.subtotal}}</td>
                      <td class="price">${{productoVenta.totalVenta}}</td>
                      <!--<td class="text-left">
                        <select class="form-control" ng-model="ventaStatus" ng-options="ventaStatus for ventaStatus in statusVenta" required>
                                  <option value="" ng-if="true">Selecciona</option>
                        </select>
                        <a  class="btn btn-primary btn-xs" data-toggle="modal" data-target="#estatusTransito" type="submit" ng-click="setStatus(ventaStatus,1);"><i></i> Aceptar </a>
                      </td>-->
                    </tr>    
                  </table>
                </div>
                <div class="tab-pane fade" id="tab03">
                  <table class="items-list">
                    <tr>
                      <th>Folio Venta</th>
                      <th>Nombre Producto</th>
                      <th>Cantidad Vendidas</th>
                      <th>Subtotal</th>
                      <th>Total</th>
                    </tr>
                    <!--Item-->
                    <tr class="item first"  ng-repeat="productoVenta in ventas" >
                      <td class="price"><a href="shop-single-item-v1.html">{{productoVenta.folio}}</a></td>
                      <td class="name"><a href="shop-single-item-v1.html">{{productoVenta.nombre}}</a></td>
                      <td class="qnt-count">
                        <input class="quantity form-control" type="text" value="{{productoVenta.cantidad}}">
                      </td>
                      <td class="price">${{productoVenta.subtotal}}</td>
                      <td class="price">${{productoVenta.totalVenta}}</td>
                    </tr>    
                  </table>
                </div>
                <div class="tab-pane fade" id="tab04">               
                    <table class="items-list">
                      <tr>
                        <th>Folio Venta</th>
                        <th>Nombre Producto</th>
                        <th>Cantidad Vendidas</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                      </tr>
                      <!--Item-->
                      <tr class="item first"  ng-repeat="productoVenta in ventas" >
                        <td class="price"><a href="shop-single-item-v1.html">{{productoVenta.folio}}</a></td>
                        <td class="name"><a href="shop-single-item-v1.html">{{productoVenta.nombre}}</a></td>
                        <td class="qnt-count">
                          <input class="quantity form-control" type="text" value="{{productoVenta.cantidad}}">
                        </td>
                        <td class="price">${{productoVenta.subtotal}}</td>
                        <td class="price">${{productoVenta.totalVenta}}</td>
                      </tr>    
                    </table>
                </div>
                 <div class="tab-pane fade" id="tab05">               
                    <table class="items-list">
                      <tr>
                        <th>Folio Venta</th>
                        <th>Nombre Producto</th>
                        <th>Cantidad Vendidas</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                      </tr>
                      <!--Item-->
                      <tr class="item first"  ng-repeat="productoVenta in ventas" >
                        <td class="price"><a href="shop-single-item-v1.html">{{productoVenta.folio}}</a></td>
                        <td class="name"><a href="shop-single-item-v1.html">{{productoVenta.nombre}}</a></td>
                        <td class="qnt-count">
                          <input class="quantity form-control" type="text" value="{{productoVenta.cantidad}}">
                        </td>
                        <td class="price">${{productoVenta.subtotal}}</td>
                        <td class="price">${{productoVenta.totalVenta}}</td>
                      </tr>    
                    </table>
                </div>
              </div>
            </div>
          </div>
      </section><!--Shopping Cart Close-->

      <div class="modal fade" id="estatusTransito" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="fa fa-times"></i>
                </button>
                <h2>CAMBIAR ESTATUS DE LA VENTA</h2>
              </div>
              <div  class="modal-body">
                <p>
                   Al realizar esta acción afectaras a todos los productos relacionados a la misma venta.¿Estas seguro de querer cambiar los productos al estatus seleccionado?
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cambiarStatus(ventaStatusParametro,ventaStatusOriginal,id);" >Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
              </div>
            </div>
          </div>
      </div>


  </div>