 <div class="post" ng-controller="VentasAdminController" ng-app="tabPanel"  >



     <section class="shopping-cart">
        <div class="container">
          <div class="row">
          
            <!--Items List-->
            <div class="col-lg-9 col-md-9">

              <div class="tabs-widget">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" ng-class="{'active':tabSelected=='#tab1'}"  data-toggle="tab" aria-expanded="true" ng-click="consultarVentas(1);">Ordenados</a></li>
                <li class=""><a href="#tab2" ng-class="{'active':tabSelected=='#tab2'}"  data-toggle="tab" aria-expanded="true" ng-click="consultarVentas(2);">En Transito</a></li>
                <li class=""><a href="#tab3" ng-class="{'active':tabSelected=='#tab3'}"  data-toggle="tab" aria-expanded="true" ng-click="consultarVentas(3);">Entregados</a></li>
                <li class=""><a href="#tab4" ng-class="{'active':tabSelected=='#tab3'}"  data-toggle="tab" aria-expanded="true" ng-click="consultarVentas(4);">Confirmados</a></li>
              </ul>
          

              <div id="tab1" class="ng-hide tab-pane fade active in" ng-show="tabSelected=='#tab1'">
                <table class="items-list">
                    <tr>
                      <th>Nombre Producto</th>
                      <th>Cantidad Vendidas</th>
                      <th>Subtotal</th>
                      <th>Total</th>
                      <th>Estatus</th>
                      <th>Cambiar Estatus</th>
                    </tr>
                    <!--Item-->
                    <tr class="item first"  ng-repeat="productoVenta in misventas" >
                      <td class="name"><a href="shop-single-item-v1.html">{{productoVenta.value}}</a></td>
                      <td class="qnt-count">
                        <input class="quantity form-control" type="text" value="{{productoVenta.cantidad}}">
                      </td>
                      <td class="price">{{productoVenta.subtotal}}</td>
                      <td class="price">{{productoVenta.venta.totalVenta}}</td>
                      <td class="price">Ordenado</td>

                    </tr>    
                  </table>
              </div>

              <div id="tab2" class="ng-hide tab-pane fade" ng-show="tabSelected=='#tab2'">
                  <table class="items-list">
                    <tr>
                      <th>Nombre Producto</th>
                      <th>Cantidad Vendidas</th>
                      <th>Subtotal</th>
                      <th>Total</th>
                      <th>Estatus</th>
                      <th>Cambiar Estatus</th>
                    </tr>
                    <!--Item-->
                    <tr class="item first"  ng-repeat="productoVenta in misventas" >
                      <td class="name"><a href="shop-single-item-v1.html">{{productoVenta.producto.nombre}}</a></td>
                      <td class="qnt-count">
                        <input class="quantity form-control" type="text" value="{{productoVenta.cantidad}}">
                      </td>
                      <td class="price">{{productoVenta.subtotal}}</td>
                      <td class="price">{{productoVenta.venta.totalVenta}}</td>
                      <th>En transito</th>
                      <th>Estatus</th>

                    </tr>    
                  </table>
              </div>

              <div id="tab3" class="ng-hide tab-pane fade" ng-show="tabSelected=='#tab3'">
                  <table class="items-list">
                    <tr>
                      <th>Nombre Producto</th>
                      <th>Cantidad Vendidas</th>
                      <th>Subtotal</th>
                      <th>Total</th>
                      <th>Estatus</th>
                    </tr>
                    <!--Item-->
                    <tr class="item first"  ng-repeat="productoVenta in misventas" >
                      <td class="name"><a href="shop-single-item-v1.html">{{productoVenta.producto.nombre}}</a></td>
                      <td class="qnt-count">
                        <input class="quantity form-control" type="text" value="{{productoVenta.cantidad}}">
                      </td>
                      <td class="price">{{productoVenta.subtotal}}</td>
                      <td class="price">{{productoVenta.venta.totalVenta}}</td>
                      <td class="price">Entregado</td>
                    </tr>    
                  </table>
              </div>

              <div id="tab4" class="ng-hide tab-pane fade" ng-show="tabSelected=='#tab4'">
                  <table class="items-list">
                    <tr>
                      <th>Nombre Producto</th>
                      <th>Cantidad Vendidas</th>
                      <th>Subtotal</th>
                      <th>Total</th>
                      <th>Estatus</th>
                    </tr>
                    <!--Item-->
                    <tr class="item first"  ng-repeat="productoVenta in misventas" >
                      <td class="name"><a href="shop-single-item-v1.html">{{productoVenta.producto.nombre}}</a></td>
                      <td class="qnt-count">
                        <input class="quantity form-control" type="text" value="{{productoVenta.cantidad}}">
                      </td>
                      <td class="price">{{productoVenta.subtotal}}</td>
                      <td class="price">{{productoVenta.venta.totalVenta}}</td>
                      <td class="price">Confirmado</td>
                    </tr>    
                  </table>
              </div>

            </div>       
          </div>
        </div>
      </section><!--Shopping Cart Close-->
  </div>
</div>