.hide{
    display: none;
}

.mostrar{
  display: table;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.cursor {
  cursor: pointer;
}

.link{
  color: darkblue;
  cursor: pointer;
  text-decoration: underline;
}

.selected{
  background: #e91e63;
}

.tech-specs .selected p {
  color: #fff;
}

.tenue{
  font-size: 11px;
  color: #898989;
}

.mainSection{
	padding-top:100px;
}

.reviewTable table{
 	border-spacing: 10px;
    border-collapse: separate;
}
.reviewTable td{
	font-weight: bold;
	padding: 10px;
}

.star{
	float: left;
	width: 30px;
	height: 30px;
}

.sample-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}

.fondoMiTianguis{
  background-color: #e91e63;
  color: white;
}

.bordeHover:hover{
  border-color: black;
  cursor: pointer;
}

/*****************************/

.btn-mt span {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 1.375em;
  color: #fff;
  background: #292c2e;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-top: 7px;
  margin: 0 7px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.btn-mt span:hover {
  background: #000000;
}
.btn-mt span#scrollTop-btn {
  padding-top: 5px;
}
.btn-mt #qcf-btn.active {
  -webkit-border-radius: 0 0 0px 0px !important;
  -moz-border-radius: 0 0 0px 0px !important;
  border-radius: 0 0 0px 0px !important;
}


