.hide{
    display: none;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.cursor {
  cursor: pointer;
}

.selected{
  background: #e91e63;
}

.tech-specs .selected p {
  color: #fff;
}

.tenue{
  font-size: 11px;
  color: #898989;
}

.mainSection{
	padding-top:100px;
}

<<<<<<< Updated upstream
.reviewTable table{
 	border-spacing: 10px;
    border-collapse: separate;
}
.reviewTable td{
	font-weight: bold;
	padding: 10px;
}

.star{
	float: left;
	width: 30px;
	height: 30px;
}



.sample-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}

.fondoMiTianguis{
  background-color: #e91e63;
  color: white;
}

.bordeHover:hover{
  border-color: black;
  cursor: pointer;


}
