 <div class="post"  ng-controller="PerfilClienteAdminController"  ng-submit = "engineSubmit()" > 
    <div class="col-lg-5 col-md-5 col-sm-5">
           
                <div class="form-group group" >
                        <a href="javascript:void(0)">
                          <img ng-src="{{user.imagenPrincipal}}"  style="width:260px;height:285px;">
                          <span class="tile-overlay"></span>
                        </a>
                        <button class="btn btn-primary"  data-toggle="modal" data-target="#pictuteProfileModalClient" ng-hide = "imagenPerfil">Añadir imagen de perfil</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#pictuteProfileModalClient" ng-show = "imagenPerfil">Modificar imagen de perfil</button>
                      
                 </div>

           <form method="post" class="login-form">
                    <div class="form-group group">
                       usuario cliente:
                        <input type="text" class="form-control" name="nameClient" id="nameClient"  ng-model="user.username" readonly>
                    </div>

                    <div class="form-group group">
                        correo-electronico
                        <input type="email" class="form-control" name="emailClient" id="emailClient"  ng-model ="user.email"  required>
                    </div>

                    <div class="form-group group">
                       nombre(s):
                        <input type="text" class="form-control" name="nombreClient" id="nombreClient"  ng-model="user.nombre" >
                    </div>

                    <div class="form-group group">
                       apellido paterno:
                        <input type="text" class="form-control" name="apellidoPaternoClient" id="apellidoPaternoClient"  ng-model="user.apellidoPaterno" >
                    </div>

                    <div class="form-group group">
                       apellido materno:
                        <input type="text" class="form-control" name="apellidoMaternoClient" id="apellidoMaternoClient"  ng-model="user.apellidoMaterno" >
                    </div>


                    <div class="form-group group">
                       telefono:
                        <input type="text" class="form-control" name="telefonoClient" id="telefonoClient"  ng-model="user.telefono" >
                    </div>

                    <div class="form-group group">
                       celular:
                        <input type="text" class="form-control" name="celularClient" id="celularClient"  ng-model="user.celular" >
                    </div>

                    <div class="form-group group">
                       RFC:
                        <input type="text" class="form-control" name="rfcClient" id="rfcClient"  ng-model="user.rfc" >
                    </div>

                    <div class="form-group group">
                       CURP:
                        <input type="text" class="form-control" name="curpClient" id="curpClient"  ng-model="user.curp" >
                    </div>

                    <div class="form-group group">
                       facebook:
                        <input type="email" class="form-control" name="facebookClient" id="facebookClient" ng-model="user.facebook" >
                    </div>


                    <div class="form-group group">
                       twitter:
                        <input type="email" class="form-control" name="twitterClient" id="twitterClient" ng-model="user.twitter" >
                    </div>

                    <div class="form-group group">
                       pinterest:
                        <input type="email" class="form-control" name="pinterestClient" id="pinterestClient" ng-model="user.pinterest" >
                    </div>

                   <div class="form-group group">
                        ¿desar cambiar su contraseña?
                        <input type="checkbox"    ng-model ="checked" >
                    </div>
                   
                    <div class="form-group group" ng-show="checked">
                        nueva contraseña
                        <input type="password" class="form-control" name="passwordClient" id="passwordClient"  ng-model ="user.password" >
                    </div>

                    
                    <input class="btn btn-black" type="submit" value="Enviar">

                    <div class="alert alert-success"  ng-show="showAlert">
                         <strong>Se cargo su información con  exito</strong>
                         <button type="button" class="close" ng-click="showAlert = false">×</button>
                    </div>

                    <div class="alert alert-danger"  ng-show="showAlertDanger">
                       <strong>Ocurrio un error al actualizar su información</strong>
                       <button type="button" class="close" ng-click="showAlertDanger = false">×</button>
                    </div>     
                </form>                    

                <!-- Modal -->
                <div class="modal fade" id="pictuteProfileModalClient" tabindex="-1" role="dialog"  aria-hidden="true">
                   <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Acualizar Imagen Perfil</h4>
                      </div>
                      <div class="modal-body">
                               <!-- cargar imagen nueva-->
                                <input type="file" class="form-control" id="imgPrincipalPerfil" name="imgPrincipalPerfil"
                                        nv-file-select uploader="imgPrincipalUploadPerfil" >
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" ng-click = "updateImage()"  class="btn btn-primary">OK</button>
                      </div>
                    </div>
                  </div>
                </div>  
   
   </div>  
</div> 