 <div  ng-controller="PerfilClienteAdminController"  ng-submit = "engineSubmit()" > 
    <div  >
           
                <div class="form-group group" >
                        <a href="javascript:void(0)">
                          <img ng-src="{{user.imagenPrincipal}}"  style="width:260px;height:285px;">
                          <span class="tile-overlay"></span>
                        </a>
                        <button class="btn btn-primary"  data-toggle="modal" data-target="#pictuteProfileModalClient" ng-hide = "imagenPerfil">Añadir imagen de perfil</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#pictuteProfileModalClient" ng-show = "imagenPerfil">Modificar imagen de perfil</button>
                      
                 </div>
     </div>               

           <form method="post" name="perfilForm">
               <!-- <div class="form-horizontal" role="form"> -->
                  <div class="form-group group">
                        <label  class="col-lg-2 col-md-2 col-sm-2" for="nameClient">Usuario Cliente:</label>
                        <input class="col-lg-3 col-md-3 col-sm-3" type="text"  name="nameClient" id="nameClient"  ng-model="user.username" readonly>
                  </div>

                  
              <!--</div> -->

                    <div class="form-group group">
                        <label  class="col-lg-2 col-md-2 col-sm-2" for="nombreClient">Nombre(s):</label>
                        <input class="col-lg-3 col-md-3 col-sm-3"  type="text" name="nombreClient" id="nombreClient"  ng-model="user.nombre" >   
                        <label class="col-lg-2 col-md-2 col-sm-2" for="apellidoPaternoClient">Apellido Paterno:</label>
                        <input class="col-lg-3 col-md-3 col-sm-3" type="text"  name="apellidoPaternoClient" id="apellidoPaternoClient"  ng-model="user.apellidoPaterno" >
                    </div>

                    <div class="form-group group">
                        <label class="col-lg-2col-md-2 col-sm-2" for="apellidoMaternoClient">Apellido Materno:</label>
                        <input type="text" class="col-lg-3 col-md-3 col-sm-3" name="apellidoMaternoClient" id="apellidoMaternoClient"  ng-model="user.apellidoMaterno" >
                        <label class="col-lg-1 col-md-1 col-sm-1" for="telefonoClient">Telefono:</label>
                        <input class="col-lg-2 col-md-2 col-sm-2" type="number" maxlength="10"  name="telefonoClient" id="telefonoClient"  ng-model="user.telefono" >
                        <label class="col-lg-1 col-md-1 col-sm-1" for="celularClient">Celular:</label>
                        <input class="col-lg-2 col-md-2 col-sm-2" type="number" maxlength="10" class="form-control" name="celularClient" id="celularClient"  ng-model="user.celular" >
                    </div>

                    <div class="form-group group">
                       
                    </div>

                    <div class="form-group group">
                        <label class="col-lg-2 col-md-2 col-sm-2" for="emailClient">Correo Electronico:</label>
                        <input class="col-lg-3 col-md-3 col-sm-3" type="email"  name="emailClient" id="emailClient"  ng-model ="user.email"  required>
                       <label  class="col-lg-1 col-md-1 col-sm-1" for="rfcClient">RFC:</label>
                        <input type="text"  class="col-lg-2 col-md-2 col-sm-2"  name="rfcClient" id="rfcClient"  ng-model="user.rfc" >
                        <label  class="col-lg-1 col-md-1 col-sm-1" for="curpClient">CURP:</label>
                        <input  class="col-lg-2 col-md-2 col-sm-2" type="text"  name="curpClient" id="curpClient"  ng-model="user.curp" >
                    </div>

                    
                    <div class="form-group group">
                       <label   class="col-lg-2 col-md-2 col-sm-2" for="facebookClient">Facebook:</label>
                        <input   class="col-lg-3 col-md-3 col-sm-3" type="email"  name="facebookClient" id="facebookClient" ng-model="user.facebook" >
                        <label   class="col-lg-1 col-md-1 col-sm-1" for="twitterClient">Twitter:</label>
                        <input   class="col-lg-2 col-md-2 col-sm-2" type="text" ng-pattern= "/@[A-Za-z0-9-]/" name="twitterClient" id="twitterClient" ng-model="user.twitter" >
                        <label   class="col-lg-1 col-md-1 col-sm-1" for="pinterestClient">Pinterest:</label>
                        <input type="email"   class="col-lg-3 col-md-3 col-sm-3" name="pinterestClient" id="pinterestClient" ng-model="user.pinterest" >

                    </div>


                    <div class="form-group group">
                      <span  ng-show="perfilForm.twitterClient.$error.pattern">dirección de twitter no valida!</span>
                    </div>

                   <div class="form-group group">
                        <label   class="col-lg-2 col-md-2 col-sm-2" for="clienteCheched">¿Desea Cambiar Su Contraseña?</label>
                        <input   class="col-lg-1 col-md-1 col-sm-1" type="checkbox" id="clienteCheched"   ng-model ="checked" >
                    </div>
                   
                    <div class="form-group group" ng-show="checked">
                        <label   class="col-lg-2 col-md-2 col-sm-2" for="passwordClient">Nueva Contraseña:</label>
                        <input type="password"   class="col-lg-2 col-md-2 col-sm-2" name="passwordClient" id="passwordClient"  ng-model ="user.password" >
                    </div>

                    
                    <input class="btn btn-black" type="submit" value="Enviar">

                    <div class="alert alert-success"  ng-show="showAlert">
                         <strong>Se cargo su información con  exito</strong>
                         <button type="button" class="close" ng-click="showAlert = false">×</button>
                    </div>

                    <div class="alert alert-danger"  ng-show="showAlertDanger">
                       <strong>Ocurrio un error al actualizar su información</strong>
                       <button type="button" class="close" ng-click="showAlertDanger = false">×</button>
                    </div>     
                </form>                    

                <!-- Modal -->
                <div class="modal fade" id="pictuteProfileModalClient" tabindex="-1" role="dialog"  aria-hidden="true">
                   <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Acualizar Imagen Perfil</h4>
                      </div>
                      <div class="modal-body">
                               <!-- cargar imagen nueva-->
                                <input type="file"  id="imgPrincipalPerfil" name="imgPrincipalPerfil"
                                        nv-file-select   class="form-control" uploader="imgPrincipalUploadPerfil" >

                                  <div class="alert alert-danger"  ng-show="showWarn">
                                   <strong>Debes Subir una Imagen</strong>
                                   <button type="button" class="close" ng-click="showWarn = false">×</button>
                                </div>   
  
                                

                      </div>
                      <div class="modal-footer">
                        <button type="button"  ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" ng-click = "updateImage()"  class="btn btn-primary">OK</button>
                      </div>
                    </div>
                  </div>
                </div>  
   
     
</div> 