<div class="page-content" ng-controller="BlogCtrl">
    
     
      <!--Blog Sidebar Right-->
      <section class="blog">
      	<div class="container">
        	<div class="row">
          
          	<!--Left Column-->
          	<div class="col-lg-9 col-md-9">
              <!--Post-->
              <div class="post">
              	<h1 class="title"><a href="javascript:void(0)">{{blog.titulo}}</a></h1>
                <img src="/getImagenBlog/{{blog.imagen}}" alt="{{blog.titulo}}"  style="width:849px;height:408px"/>
                <h3><textarea readonly elastic ng-model="blog.resumen" class="text-sin-border" style="width:100%;resize: none;"></textarea></h3>
                <textarea readonly elastic ng-model="blog.articulo" class="text-sin-border" style="width:100%;resize: none;"></textarea>
                <footer>
                	
                  <div class="share">
                  	<a href="#"><i class="fa fa-facebook-square"></i></a>
                  </div>
                  <ul class="meta">
                    <li><i class="fa fa-calendar"></i><a href="#">{{blog.createdAt | date:'dd.MM.yyyy'}}</a></li>
                   
                 	</ul>
                </footer>
             </div>
             
              
            </div>
            
            <!--Sidebar
            <div class="col-lg-3 col-md-3">
            	<!--Search Widget-
              <h3>Search the blog</h3>
              <form class="sidebar-search">
              	<input type="text" class="form-control" name="search-blog" placeholder="Search">
                <button type="submit"></button>
              </form>
            	<!--Tags
              <h3>Tags</h3>
              <div class="tags">
              	<a href="#">Limo</a>, 
                <a href="#">theme</a>, 
              	<a href="#">HTML5</a>, 
                <a href="#">premium</a>, 
                <a href="#">shopping</a>, 
              	<a href="#">e-commerce</a> 
              </div>
              <!--Latest posts-
              <h3>Latest posts</h3>
              <div class="latest-posts">
              	<div class="post">
                	<a href="blog-single.html">New awesome theme out there...</a>
                  <div class="meta">
                  	<a href="#">Comments <span>(34)</span></a>
                    <span class="date">12.02.2014</span>
                  </div>
                </div>
              	<div class="post">
                	<a href="blog-single.html">Lorem ipsum dolor sit amet...</a>
                  <div class="meta">
                  	<a href="#">Comments <span>(22)</span></a>
                    <span class="date">12.02.2014</span>
                  </div>
                </div>
              	<div class="post">
                	<a href="blog-single.html">Anim pariatur cliche reprehenderit...</a>
                  <div class="meta">
                  	<a href="#">Comments <span>(81)</span></a>
                    <span class="date">12.02.2014</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!--Blog Sidebar Right Close-->
      
      <!--Brands Carousel Widget-
      <section class="brand-carousel">
        <div class="container">
          <h2>Brands in our shop</h2>
          <div class="inner">
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
          </div>
        </div>
      </section><!--Brands Carousel Close-->
      
    </div><!--Page Content Close-->