<div class="page-content" ng-controller="ProductoCtrl">
      <!--Shopping Cart Message-->
      <div ng-controller="CarritoCtrl">

        <section class="sample-show-hide cart-message visible " ng-show="showATC">
          
        	<i class="fa fa-check-square"></i>
          <p class="p-style3">"{{selProducto.nombre}}" se ha añadido a tu carrito.</p>
          <a class="btn-outlined-invert btn-black btn-sm" href="/store#/carrito">Ver carrito</a>
          
        </section><!--Shopping Cart Message Close-->
      
      
      <!--Catalog Single Item-->
      <section class="catalog-single">
      	<div class="container">
          <div class="row">
          
          	<!--Product Gallery-->
            <div class="col-lg-6 col-md-6">
              <div class="prod-gal master-slider" id="prod-gal">
                <!--Slide1-->
                <div class="ms-slide" ng-repeat="img in imagenes">
                  <img src="{{img.src}}" data-src="{{img.src}}" alt="Lorem ipsum"/>
                  <img class="ms-thumb" src="{{img.src}}" alt="thumb" />
                </div>
              </div>
            </div>
            
            <!--Product Description-->
            <div class="col-lg-6 col-md-6">
            
              <h1>{{selProducto.nombre}}</h1>
              <div class="old-price">{{selProducto.precioCompetencia | currency : symbol : fractionSize}}</div>
              <div class="price">{{selProducto.precio | currency : symbol : fractionSize}}</div>
              <h3 ng-show="selProducto.subproductos.length>0">Modelos Disponibles</h3>
              <div id="modelos">
                  <a href="javascript:void(0)" ng-repeat="modelo in selProducto.subproductos" ><img class="thumbmodelo" ng-class="modelo.selected?'selected-thumbmodelo':''" ng-src="{{modelo.imagen}}" ng-click="desSeleccionarModelos(modelo);" title="{{modelo.modelo}}">  </a>
              </div>
              
              <div class="clear"/>
              <div class="buttons group">
                <div class="qnt-count">
                  <a class="incr-btn" href="javascript:void(0)" ng-click="cantidad-1>0?cantidad=cantidad-1:0">-</a>
                  <input id="quantity" class="form-control" type="text" ng-model="cantidad">
                  <a class="incr-btn" href="javascript:void(0)" ng-click="cantidad=cantidad+1">+</a>
                </div>
                <a class="btn btn-primary btn-sm" id="addItemToCart" href="javascript:void(0)" ng-click="addToCart(selProducto,cantidad)"><i class="icon-shopping-cart"></i>Añadir al Carrito</a>
                <a class="btn btn-black btn-sm" href="#"><i class="icon-heart"></i>Añadir a mis favoritos</a>
              </div>
              <p class="p-style2">{{selProducto.descripcionCorta}}</p>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5">
                  <h3>Compartir</h3>
                  <div class="social-links">
                    <a href="#"><i class="fa fa-tumblr-square"></i></a>
                    <a target=_"blank" href="http://twitter.com/share?text={{selProducto.nombre}} a {{selProducto.precio | currency : symbol : fractionSize}}&url=http://{{tiendaURL}}.mitianguis.mx/producto/share/{{selProducto.id}}"><i class="fa fa-pinterest-square"></i></a>
                    <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://{{tiendaURL}}.mitianguis.mx/producto/share/{{selProducto.id}}&media={{selProducto.imagenPrincipal}}&description={{selProducto.nombre+'-'+selProducto.precio}}"><i class="fa fa-facebook-square"></i></a>

                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7">
                  <h3>Tags</h3>
                  <div class="tags" >
                    <a ng-repeat="tag in selProducto.categorias" href="#">{{tag}}</a>, 
                  </div>
                </div>
              </div>
              <div class="promo-labels">
                <div data-content="This is a place for the unique commercial offer. Make it known." data-original-title="" title=""><span><i class="fa fa-truck"></i>Cotizar Envío</span></div>
                
                <div data-content="This is a place for the unique commercial offer. Make it known." data-original-title="" title=""><i class="fa fa-shield"></i>Compra Segura</div>

              </div>
            </div>
          </div>
        </div>
      </section><!--Catalog Single Item Close-->
      </div>
      <!--Tabs Widget-->
      <section class="tabs-widget">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="javascript:void(0)" data-toggle="tab" ng-click="togglePanels(1)">Descripción</a></li>
          <li ><a href="javascript:void(0)" ng-click="togglePanels(2)" data-toggle="tab">Specs</a></li>
          <li><a href="javascript:void(0)" ng-click="togglePanels(3)" data-toggle="tab">Reseñas</a></li>
        </ul>
        <div class="tab-content">
        	<!--Tab1 (Specs)-->
          <div  ng-show="showDesc">
          	<div class="container">
            	<div class="row">
                <section class="tech-specs">
                  <div class="container">
                    <div class="row">
                      <!--Column 1-->
                      <div class="col-lg-10 col-md-10 col-sm-10">
                        <div ng-bind-html="descripcionProductoHTML"></div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          
          <!--Tab2 (Description)-->
          <div  id="specs" ng-show="showSpecs">
          	<div class="container">
            	<div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10">
                especificaciones
                  <div ng-bind-html="specsProductoHTML"></div>
                </div>
              </div>
            </div>
          </div>
          
          <!--Tab3 (Reviews)-->
          <div  id="review" ng-show="showRevs">
          	<div class="container">
            	<div class="row" ng-repeat="com in selProducto.ratings">
              <hr>
              	<!--Disqus Comments Plugin-->
              	<div class="col-md-2 ">
                  <img ng-repeat='i in range(1,com.stars)' ng-class='star' src="/img/star.png" class="star">
                  
                </div>

                <div class="col-md-8 ">
                  <span style="width: 100px;word-wrap: break-word;">{{com.comentario}}</span>
                </div>
                <div class="col-md-2">
                  {{com.fecha | date:'dd/MM/yyyy @ h:mma'}}
                </div>

              </div>
            </div>
          </div>
        </div>
      </section><!--Tabs Widget Close-->
      
      <!--Special Offer-->
      <section class="special-offer" ng-if=false>
      	<div class="container">
          <h2>Special offer</h2>
          <div class="row">
          	<!--Tile-->
          	<div class="col-lg-3 col-md-3 col-sm-3">
            	<div class="tile">
                <div class="price-label">715,00 $</div>
                <a href="#">
                  <img src="img/offers/special-offer.png" alt="Special Offer">
                  <span class="tile-overlay"></span>
                </a>
                <div class="footer"><a href="#">The Buccaneer</a></div>
              </div>
            </div>
            <!--Plus-->
            <div class="col-lg-1 col-md-1 col-sm-1">
            	<div class="sign">+</div>
            </div>
          	<!--Tile-->
          	<div class="col-lg-3 col-md-3 col-sm-3">
            	<div class="tile">
                <div class="price-label">715,00 $</div>
                <a href="#">
                  <img src="img/offers/special-offer.png" alt="Special Offer">
                  <span class="tile-overlay"></span>
                </a>
                <div class="footer"><a href="#">The Buccaneer</a></div>
              </div>
            </div>
            <!--Equal-->
            <div class="col-lg-1 col-md-1 col-sm-1">
            	<div class="sign">=</div>
            </div>
            <!--Offer-->
            <div class="col-lg-4 col-md-4 col-sm-4">
            	<div class="offer" style="height: 224px;">
              	<h3 class="light-color">save</h3>
                <h4 class="text-primary">100,00 $</h4>
                <a class="btn btn-primary" href="#">Buy for 1200$</a>
              </div>
            </div>
          </div>
        </div>
      </section><!--Special Offer Close-->
      
    </div>