<div class="page-content"  ng-controller="TiendaCtrl" >
  <div ng-if="productos==null || productos.length==0" ng-cloak class="ng-cloak" style="text-align: center">
    <br><br><br>
    <h1>Esta Tienda está en construcción. Próximamente será la inauguración.<br><br>Espérala...</h1>
    <br>
  </div>
  <carrusel ng-show="productos.length>0"></carrusel>
	<section class="cat-tiles" ng-show="productos.length>0">
      	<div class="container">
        	<h2>Categorías {{categorias.length}}</h2>
        	<div class="row">
          	<!--Category-->
          	<div class="category col-lg-1 col-md-1 col-sm-2 col-xs-3" ng-repeat="cat in categorias" style="height:40px;">
            	<a href="javascript:void(0)" ng-click="buscaCategoria(cat)">
                <p>{{cat}}</p>
              </a>
            </div>
          </div>
        </div>
      </section>
	    <section class="catalog-grid" ng-show="productos.length>0">
      	<div class="container">
        	<h2 class="dark-color">Productos</h2>
          <div class="row">
          	<!--Tile-->
          	<div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="prod in productos">
            	<div class="tile">
              	<div class="badges">
                	<span class="sale">{{prod.nombre}}</span>
                </div>
              	<div class="price-label">${{prod.precio}}</div>
              	<a href="javascript:void(0)" ng-click="seleccionarProducto(prod)">
                  <img ng-src="{{prod.imagenPrincipal}}" alt="1" style="width:260px;height:285px;">
                  <span class="tile-overlay"></span>
                </a>
                <div class="footer">
                	<a>{{prod.descripcionCorta}}</a>

                  <button class="btn btn-primary">Añadir al carrito</button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </section>
</div>
