<!--Breadcrumbs-->
<br/>
<div ng-controller="RegistroController">
    <br/><br/><br/><br/>
    <!--Login / Register-->
    <section class="log-reg container">
        <h2>Completa tus datos</h2>
        <h4 class="hide">Use social accounts</h4>
        <div class="social-login hide">
            <a class="facebook" href="#"><i class="fa fa-facebook-square"></i></a>
            <a class="google" href="#"><i class="fa fa-google-plus-square"></i></a>
            <a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a>
        </div>
        <div class="row">
            <!--Login-->

            <!--Registration-->
          <form name="registerForm" ng-submit="registrar(registerForm.$valid)"  novalidate>
            <div class="col-lg-7 col-md-7 col-sm-7">


                    <div id="divnombre" class="form-group group has-feedback" show-errors>
                        <input type="text" class="form-control" name="nombre" id="rf-nombre"
                               placeholder="¿Como te llamas?." ng-model="mercante.nombre" required>
                        <span id="icononombre" aria-hidden="true"></span>
                        <p ng-if="registerForm.nombre.$error.required" class="help-block">
                            * Tu nombre es requerido.
                        </p>
                    </div>
                    <div id="divapellidoPaterno" class="form-group group has-feedback" show-errors>
                        <input type="text" class="form-control" name="apellidoPaterno" id="rf-apellido"
                               placeholder="Escribe tu apellido paterno" ng-model="mercante.apellidoPaterno" required/>
                        <span id="iconoapellidoPaterno" aria-hidden="true"></span>
                        <p ng-if="registerForm.apellidoPaterno.$error.required" class="help-block">
                            * Tu apellido paterno es requerido
                        </p>
                    </div>
                    <div id="divapellidoMaterno" class="form-group group has-feedback" show-errors>
                        <input type="text" class="form-control" name="apellidoMaterno" id="rf-apellidomaterno"
                               placeholder="Escribe tu apellido materno" ng-model="mercante.apellidoMaterno"/>
                        <span id="iconoapellidoMaterno" aria-hidden="true"></span>
                    </div>

                    
                    <div id="divtelefono" class="form-group group has-feedback" show-errors>
                        <input type="number" class="form-control" name="telefono" id="rf-telefono"
                               placeholder="Escribe tu telefono" ng-model="mercante.telefono" required />
                        <span id="iconotelefono" aria-hidden="true"></span>
                        <p ng-if="registerForm.telefono.$error.required" class="help-block">
                            * Tu telefono es requerido
                        </p>
                        <p ng-if="!registerForm.telefono.$error.required && registerForm.telefono.$invalid" class="help-block">
                            * Ingresa un teléfono válido.
                        </p>
                    </div>
                    <div id="divcodigo" class="form-group group has-feedback" show-errors>
                        <input type="text" class="form-control" name="codigo" id="rf-codigo"
                               placeholder="Escribe el código del amigo que te invito" ng-disable="lecturaCodMerca"
                               ng-model="mercante.mentor.codigoMercante" />
                        <span id="iconocodigo" aria-hidden="true"></span>
                        <p ng-if="registerForm.codigo.$error.required" class="help-block">
                            * El código de tu amigo es requerido
                        </p>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" name="remember"> He leido y acepto los terminos de uso</label>
                    </div>
                    <button  class="btn btn-black" type="submit" >
                        Registar
                    </button>

            </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <div style="background-color: #e91e63">
              <h2><b class="white">Datos de pago</b></h2>
              <div class="form-group group">
                <label class="white col-lg-6 col-md-6 col-sm-6">Nombre en la tarjeta *</label>
                <input ng-model="datosPago.name" class="black col-lg-5 col-md-5 col-sm-5" type="text" required>
              </div>
              <div class="form-group group">
                <label class="white col-lg-6 col-md-6 col-sm-6">Número de Tarjeta *</label>
                <input ng-model="datosPago.number" class="black col-lg-5 col-md-5 col-sm-5" type="text" required only-digits>
              </div>
              <div class="form-group group">
                <label class="white col-lg-4 col-md-4 col-sm-4">Fecha de Expiración *</label>



                  <div class="scol-lg-4 col-md-4 col-sm-4 white">
                    Mes <select required class="black" ng-model="selMes" ng-options="item for item in meses"  ></select>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 white">
                    Año <select required class="black" ng-model="selAno" ng-options="item for item in anos"  ></select>
                  </div>
              </div>

              <div class="form-group group">
                <label class="white col-lg-6 col-md-6 col-sm-6">Código Verificador *</label>
                <input class="black col-lg-2 col-md-2 col-sm-2" ng-model="datosPago.cvc" type="text" required only-digits size="3">
              </div>
            </div>

          </div>
          </form>
        </div>

    </section><!--Login / Register Close-->



</div>
